*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.wrapp {
  padding: 100px 30px;
  background: #e3e3e3;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  max-width: 200px;
}

.category {
  font-size: 20px;
  list-style: none;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 10px;
  padding: 7px;
  transition: 0.3s;
}

.category:hover {
  background: #c5c5c5;
}

.category:active {
  background: #acacac;
}

.list-products {}

.list-item {
  list-style: none;
  border: 1px solid black;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  height: max-content;
  width: 200px;
  margin-bottom: 15px;
}

.active {
  display: block;
}

.list-item:hover {
  background: #c5c5c5;
}

.product-description {
  display: none;
  border: 2px solid black;
  height: max-content;
  padding: 10px;
  border-radius: 7px;
}

.product-price {
  margin-bottom: 20px;
}

.product-text {
  margin-bottom: 20px;
}

.buy-button {
  font-size: 18px;
  background: rgb(115, 115, 115);
  color: white;
  width: 100px;
  padding: 5px;
  border-radius: 7px;
  border-color: transparent;
  cursor: pointer;
  transition: 0.4s;
}


.buy-button:hover {
  background: rgb(197, 197, 197);
  color: rgb(115, 115, 115);
}

.pop-up {
  display: none;
  width: 300px;
  height: max-content;
  position: fixed;
  background-color: white;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding: 20px;
  z-index: 1;
  border-radius: 7px;
}

.pop-up-bg {
  position: fixed;
  inset: 0 0 0 0;
  background-color: black;
  opacity: 0.4;
  display: none;
}

.btn-pop-up {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 25px;
  height: 25px;
  border: none;
  background: #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-pop-up:hover {
  background: rgb(197, 197, 197);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-title {
  margin-bottom: 10px;
}

.btn {
  width: 150px;
  height: 30px;
  margin: 0 auto;
}

#form-btn-submit {
  margin-bottom: -13px;
}

label>span {
  display: block;
}

.pop-up-error {
  display: none;
  width: 500px;
  height: 300px;
  padding: 40px 0;
  background: white;
  position: fixed;
  left: 50%;
  top: 50%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}

.pop-up-error-btn {
  width: 50px;
  height: 30px;
  background: #909090;
  border: none;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.accept {
  display: none;
  background: white;
  z-index: 2;
  padding: 10px;
  border-radius: 10px;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 20px;
}

.btn-accept {
  width: 60px;
  height: 30px;
  border: none;
  border-radius: 7px;
  background-color: #ccc;
  cursor: pointer;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.info {
  margin-bottom: 15px;
}