.btn {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 10px;
  background: #f3f2f2;
  margin: 7px;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  background: #464646;
  color: #fff;
}